# Ignore extensionless files
*
!*.*
!*/

*~
\#*\#
*.orig
*in~*
*sh~*
*m4~*

Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
compile
depcomp
missing

configure
ltmain.sh
m4/

# Other patterns
/config.h
/config.log
/config.status
.deps/
.libs/
.dirstamp
*.la
*.lo
*.o

